extends layout

block content
  h1= title
   - 
    let vegetables = [
          {
             "Vegetables_price": 230,
             "Vegetables_Name": "Carrot",
             "Vegetable_Quality": Good
          },
          {
            "Vegetables_price": 135,
             "Vegetables_Name": "Beetroot",
             "Vegetable_Quality": Good
          },
          {
             "Vegetables_price": 160,
             "Vegetables_Name": "Cauliflower",
             "Vegetable_Quality": Good
          },                   
      ]
  
  div(class="container-fluid")
    div(class="row")
      each item, index in vegetables
        div(class="col-sm-2", onclick=`buy(${index})`)
          | #{item.Vegetables_price}, #{item.Vegetables_Name}, #{item.Vegetable_Quality}
      
  script.
    function buy(index)
    {
      alert("You Purchased item " +index);
    }
